<div class="mainContainer">
  <!-- 公式编辑器 -->
  <div class="headerBlock">
    <div class="headerTitle">{{popupTitle}}</div>
    <div class="headerBtn close modal-close" ng-click="cancel()"><div class="close-icon">&times;</div></div>
  </div>
  <div class="modal-body" ng-hide="popupLoading" ng-class="{ 'modal-has-footer': popupHasFooter }">
    <div class="mainBlock">
      <div class="editBlock">
        <div class="blockHeader">{{inputAttr}} =</div>
        <div class="inputArea" ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="fomularEditorValue" ui-codemirror-opts='editorOptions'></div>
      </div>
      <div class="selectBlock">
        <div class="commonBox box1">
          <div class="boxTitle">变量</div>
          <div class="boxContent">
            <ul class="list-group">
              <li class="list-group-item"  ng-repeat="field in currFieldList" track-by="$index" ng-click="handleClickAddField(field)">
                <span class="badge" ng-class="field.labelClass">{{field.typeLabel}}</span>
                {{field.propertyName}}
              </li>
            </ul>
          </div>
        </div>
        <div class="commonBox box2">
          <div class="boxTitle">函数</div>
          <div class="boxContent">
            <abn-tree 
              tree-data="formularList"
              icon-leaf = ""
              on-select="handleTreeSelect(branch)"
            >
            </abn-tree>
          </div>
        </div>
        <div class="commonBox box3">
          <div class="boxTitle">公式示例说明</div>
          <div class="boxContent">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask-loading" ng-if="popupLoading">
    <i class="fa fa-spinner loading-icon animation-spin"></i>
  </div>
  <!-- <div class="modal-footer" style="background-color: #f9f9f9; padding: 5px 10px;"
    ng-class="{ 'modal-has-footer': popupHasFooter }" ng-hide="popupLoading">

    <button type="button" class="btn btn-xs btn-info" ng-click="ok()">确认</button>
    <button type="button" class="btn btn-xs" ng-click="cancel()">取消</button>
  </div> -->
</div>
