<div class="mainContainer">
  <!-- 公式编辑器 -->
  <div class="headerBlock">
    <div class="headerTitle">{{popupTitle}}</div>
    <div class="headerBtn close modal-close" ng-click="cancel()"><div class="close-icon">&times;</div></div>
  </div>
  <div class="modal-body" ng-hide="popupLoading" style="height:580px">
    <div class="mainBlock">
      <div class="editBlock">
        <div class="blockHeader">{{inputAttr}} =</div>
        <div class="inputArea" ui-codemirror="{ onLoad : codemirrorLoaded }" ng-model="fomularEditorValue" ui-codemirror-opts='editorOptions'></div>
      </div>
      <div class="selectBlock">
        <div class="commonBox box1">
          <div class="boxTitle">变量</div>
          <div class="boxContent">
            <ul class="list-group">
              <li class="list-group-item"  ng-repeat="field in currFieldList" track-by="$index" ng-click="handleClickAddField(field)">
                <span class="badge" ng-class="field.labelClass">{{field.typeLabel}}</span>
                {{field.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="commonBox box2">
          <div class="boxTitle">函数</div>
          <div class="boxContent">
            <div class="custom-tree" ng-repeat="formularType in formularList" track-by="$index">
              <div ng-click="handleClickTreeLabel($index)" class="tree-node-title">
                <div class="tree-title-icon" ng-class="{'transform90':formularType.expand}">&gt;</div>
                <div class="tree-title-label">{{formularType.label}}</div>
              </div>
              <ul class="custom-list-group" ng-hide="!formularType.expand" track-by="$index">
                <li class="list-group-item"  ng-repeat="formular in formularType.children" track-by="$index" ng-click="handleTreeSelect(formular)">
                  {{formular.label}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="commonBox box3">
          <div class="boxTitle">公式示例说明</div>
          <div class="boxContent">
            <div class="description">
              <div>{{selecFormular.format}}</div>
              <div>{{selecFormular.description}}</div>
            </div>
            <div class="bottom-tip">请在英文输入法模式下编辑公式</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mask-loading" ng-if="popupLoading">
    <i class="fa fa-spinner loading-icon animation-spin"></i>
  </div>
  <div class="modal-footer modal-has-footer fomular-footer" style="background-color: #f9f9f9; padding: 8px 10px">
    <button type="button" class="btn btn-info" ng-click="ok()">确认</button>
    <button type="button" class="btn" ng-click="cancel()">取消</button>
  </div>
</div>